.form-container {
    width: 30%;
}

.navbar-brand:hover, .nav-link:hover{
    background-color: white;
    color: black !important;
}

.welcome-text {
    padding: 0 150px;
    line-height: 2rem;
}

.navbar-brand:hover,
.nav-link:hover {
    cursor: pointer;
}

.col-form-label {
    font-weight: 500 !important;
}

.edit-button {
    width: 150px !important;
}

.books {
    max-width: 200px !important;
}

@media screen and (max-width: 425px) {
    .form-container {
        width: 80%;
        padding: 2rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 600px) {
    .form-container {
        width: 65%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .form-container {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    .form-container {
        width: 370px;
    }
}