.form-container {
    width: 30%;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    padding: 10px 15px; /* Adjust padding for better hover effect */
    display: flex; /* Make sure it expands */
    align-items: center; /* Center the text properly */
    height: 100%; /* Ensures full height */
}

.navbar-nav .nav-link:hover {
    background-color: white;
    color: black !important;
    border-radius: 5px; /* Optional: makes the hover effect look better */
}

/* 
.navbar-brand:hover,
.nav-link:hover {
    background-color: white;
    color: black !important;
} */

.books {
    transition: transform .2s;
    /* Animation */
}

.books:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.welcome-text {
    padding: 0 150px;
    line-height: 2rem;
}

.navbar-brand:hover,
.nav-link:hover {
    cursor: pointer;
}

.col-form-label {
    font-weight: 500 !important;
}

.edit-button {
    width: 150px !important;
}

.books {
    max-width: 200px !important;
}

.card-quantity {
    display: inline-flex; /* Makes the container shrink-to-fit its content */
    width: fit-content; /* Ensures the width is only as wide as its content */
    padding: 0.25rem; /* Optional: Add some padding for better spacing */
}

@media screen and (max-width: 425px) {
    .form-container {
        width: 80%;
        padding: 2rem;
    }
}

@media (min-width: 992px) { 
    .card-body {
        gap: 4px !important;  /* Reduce gap for larger screens */
    }
    
    .card img {
        max-height: 180px !important; /* Limit image height */
        object-fit: contain !important; /* Prevent stretching */
    }
}


@media screen and (min-width: 425px) and (max-width: 600px) {
    .form-container {
        width: 65%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .form-container {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    .form-container {
        width: 370px;
    }
}